/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir-Black.eot");
  src: url("../fonts/Avenir-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Black.woff2") format("woff2"), url("../fonts/Avenir-Black.woff") format("woff"), url("../fonts/Avenir-Black.ttf") format("truetype"), url("../fonts/Avenir-Black.svg#Avenir-Black") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir-Book.eot");
  src: url("../fonts/Avenir-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Book.woff2") format("woff2"), url("../fonts/Avenir-Book.woff") format("woff"), url("../fonts/Avenir-Book.ttf") format("truetype"), url("../fonts/Avenir-Book.svg#Avenir-Book") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir-Medium.eot");
  src: url("../fonts/Avenir-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Medium.woff2") format("woff2"), url("../fonts/Avenir-Medium.woff") format("woff"), url("../fonts/Avenir-Medium.ttf") format("truetype"), url("../fonts/Avenir-Medium.svg#Avenir-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  min-height: 100%;
  font-size: 14px;
  line-height: 28px;
  font-family: "Avenir", sans-serif;
  font-weight: 400;
  color: #4A4A4A; }

a {
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

.btn {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-align: center;
  position: relative; }
  .btn span {
    width: 177px;
    border-radius: 25px;
    padding: 11px 10px;
    display: block;
    position: relative;
    z-index: 2;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease; }
  .btn_type1:after {
    content: "";
    border-radius: 20px;
    opacity: .9;
    background: #35124E;
    position: absolute;
    height: 20px;
    top: 80%;
    width: 110px;
    display: block;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-filter: blur(26px);
    filter: blur(26px);
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
  .btn_type1 span {
    background: #35124E;
    border: 1px solid #35124E;
    color: #fff; }
  .btn_type1:hover:after {
    opacity: 0; }
  .btn_type1:hover span {
    background: #fff;
    color: #35124E; }
  .btn_type2 span {
    border: 1px solid #979797;
    color: #4A4A4A;
    background: #fff; }
  .btn_type2:hover span {
    background: #979797;
    color: #fff; }

.out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden; }

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-top: 133px;
  position: relative;
  z-index: 1; }
  @media (min-width: 992px) {
    .content {
      padding-top: 42px; } }

.wrap {
  max-width: 1146px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%; }
  .footer .wrap {
    max-width: 1202px; }

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  z-index: 10; }
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  @media (min-width: 992px) {
    .header {
      top: 80px; } }

.login-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .login-btn__text {
    font-size: 12px;
    line-height: 16px;
    color: #9B9B9B;
    padding-right: 12px;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease; }
  .login-btn__avatar {
    display: block; }
    .login-btn__avatar img {
      border-radius: 50%;
      display: block;
      width: 22px;
      height: 22px; }
  .login-btn:hover .login-btn__text {
    color: #35124E; }

.section-title {
  font-size: 30px;
  line-height: 41px;
  font-weight: 900;
  margin: 0;
  padding-bottom: 9px;
  color: #231031; }

.section-sub-title {
  margin: 0;
  padding-bottom: 43px;
  font-size: 19px;
  line-height: 26px;
  font-weight: 500; }

.section-description {
  padding-bottom: 47px; }
  .section-description p {
    margin: 0;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400; }

.intro {
  padding-bottom: 58px; }
  .intro__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
  .intro__text {
    width: 100%;
    padding-bottom: 90px; }
    .intro__text-inner {
      max-width: 394px;
      width: 100%;
      margin: 0 auto; }
  .intro__img {
    width: 100%; }
    .intro__img img {
      max-width: 100%; }
  @media (min-width: 992px) {
    .intro__inner {
      text-align: left; }
    .intro__text, .intro__img {
      width: 50%; }
    .intro__text {
      padding-bottom: 0;
      padding-top: 38px; }
      .intro__text-inner {
        margin: 0; } }

.ideas {
  padding-bottom: 128px; }
  .ideas__title {
    font-size: 19px;
    line-height: 26px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 42px;
    text-align: center; }
  .ideas__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    margin: 0 -16px;
    padding-bottom: 20px; }
  .ideas__item {
    width: 100%;
    padding: 0 16px 32px; }
    .ideas__item-inner {
      display: block;
      border: 1px solid rgba(50, 107, 222, 0.3);
      border-radius: 4px;
      padding: 18px 22px 9px;
      -webkit-transition: border-color 0.3s ease;
      -o-transition: border-color 0.3s ease;
      transition: border-color 0.3s ease;
      color: #4A4A4A; }
      .ideas__item-inner:hover {
        border-color: #393762; }
    .ideas__item-text {
      display: block;
      padding-bottom: 3px; }
    .ideas__item-author {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: wrap;
      flex-flow: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-top: 15px;
      position: relative; }
      .ideas__item-author:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 1px;
        display: block;
        width: 74%;
        background: rgba(50, 107, 222, 0.5); }
    .ideas__item-avatar {
      width: 33px; }
      .ideas__item-avatar img {
        width: 33px;
        height: 33px;
        border-radius: 50%;
        display: block; }
    .ideas__item-info {
      width: calc(100% - 33px);
      padding-left: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column; }
    .ideas__item-name {
      font-size: 12px;
      line-height: 12px;
      font-weight: 900;
      display: block;
      padding-bottom: 5px; }
    .ideas__item-time {
      font-size: 10px;
      line-height: 12px;
      font-weight: 400; }
  .ideas .btn-row {
    text-align: center; }
  @media (min-width: 768px) {
    .ideas__item {
      width: 33.33333%; } }

.how-it-work {
  padding-bottom: 67px; }
  .how-it-work__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-flow: column-reverse;
    flex-flow: column-reverse;
    text-align: center; }
  .how-it-work__text {
    width: 100%;
    padding-bottom: 30px; }
    .how-it-work__text-inner {
      max-width: 358px;
      width: 100%;
      margin: 0 auto; }
  .how-it-work__img {
    width: 100%; }
  .how-it-work img {
    max-width: 100%; }
  @media (min-width: 992px) {
    .how-it-work__inner {
      -ms-flex-flow: wrap;
      flex-flow: wrap;
      text-align: left; }
    .how-it-work__text, .how-it-work__img {
      width: 50%; }
    .how-it-work__img {
      padding-left: 17px;
      padding-top: 7px; }
    .how-it-work__text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding-top: 34px;
      padding-bottom: 0; }
    .how-it-work .section-title {
      padding-bottom: 14px; } }

.footer__inner {
  border-top: 1px solid rgba(151, 151, 151, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 34px 0 10px;
  text-align: center; }

.footer-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  margin: 0 -25px; }

.footer-nav__item {
  padding: 0 25px 15px; }

.footer-nav__lnk {
  font-size: 12px;
  line-height: 14px;
  color: #4A4A4A;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  .footer-nav__lnk:hover {
    color: #35124E; }

@media (min-width: 768px) {
  .footer__inner {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: left;
    -ms-flex-flow: wrap;
    flex-flow: wrap; }
  .footer-nav__list {
    -ms-flex-flow: wrap;
    flex-flow: wrap; } }

.copy {
  padding-bottom: 15px;
  margin: 0; }
