$transition-rule: .3s ease;

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	min-height: 100%;
	font-size: 14px;
	line-height: 28px;
	font-family: $Avenir;
	font-weight: $regular;
	color: #4A4A4A;
}

a {
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
}


li {
	list-style: none;
}

.btn {
	display: inline-block;
	font-size: 14px;
	line-height: 16px;
	font-weight: $medium;
	text-align: center;
	position: relative;

	span {
		width: 177px;
		border-radius: 25px;
		padding: 11px 10px;
		display: block;
		position: relative;
		z-index: 2;
		transition: background-color $transition-rule;

	}

	&_type1 {
		&:after {
			content: "";
			border-radius: 20px;
			opacity: .9;
			background: #35124E;
			position: absolute;
			height: 20px;
			top: 80%;
			width: 110px;
			display: block;
			left: 50%;
			transform: translateX(-50%);
			-webkit-filter: blur(26px);
			filter: blur(26px);
			transition: opacity $transition-rule;
		}

		span {
			background: #35124E;
			border: 1px solid #35124E;
			color: #fff;
		}

		&:hover {
			&:after {
				opacity: 0;
			}
			span {
				background: #fff;
				color: #35124E;
			}
		}
	}

	&_type2 {
		span {
			border: 1px solid #979797;
			color: #4A4A4A;
			background: #fff;
		}

		&:hover {
			span {
				background: #979797;
				color: #fff;
			}
		}
	}
}

.out {
	display: flex; //for sticky footer
	min-height: 100vh; //for sticky footer
	flex-direction: column; //for sticky footer
	overflow: hidden;
}

.content {
	flex: 1; //for sticky footer
	padding-top: 133px;
	position: relative;
	z-index: 1;

	@media(min-width: 992px){
		padding-top: 42px;
	}
}

.wrap {
	max-width: 1146px;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;

	.footer & {
		max-width: 1202px;
	}
}

.header {
	position: absolute;
	left: 0;
	right: 0;
	top: 30px;
	z-index: 10;

	&__inner {
		display: flex;
		flex-flow: wrap;
		justify-content: space-between;
		align-items: flex-start;
	}

	@media(min-width: 992px){
		top: 80px;
	}
}

.login-btn {
	display: flex;
	align-items: center;

	&__text {
		font-size: 12px;
		line-height: 16px;
		color: #9B9B9B;
		padding-right: 12px;
		transition: color $transition-rule;
	}

	&__avatar {
		display: block;

		img {
			border-radius: 50%;
			display: block;
			width: 22px;
			height: 22px;
		}
	}

	&:hover {
		.login-btn__text {
			color: #35124E;
		}
	}
}

.section-title {
	font-size: 30px;
	line-height: 41px;
	font-weight: $black;
	margin: 0;
	padding-bottom: 9px;
	color: #231031;
}

.section-sub-title {
	margin: 0;
	padding-bottom: 43px;
	font-size: 19px;
	line-height: 26px;
	font-weight: $medium;
}

.section-description {
	padding-bottom: 47px;

	p {
		margin: 0;
		font-size: 14px;
		line-height: 28px;
		font-weight: $regular;
	}
}

.intro {
	padding-bottom: 58px;

	&__inner {
		display: flex;
		flex-flow: wrap;
		align-items: center;
		text-align: center;
	}

	&__text {
		width: 100%;
		padding-bottom: 90px;

		&-inner {
			max-width: 394px;
			width: 100%;
			margin: 0 auto;
		}
	}

	&__img {
		width: 100%;

		img {
			max-width: 100%;
		}
	}

	@media(min-width: 992px) {
		&__inner {
			text-align: left;
		}
		&__text, &__img {
			width: 50%;
		}

		&__text {
			padding-bottom: 0;
			padding-top: 38px;
			&-inner {
				margin: 0;
			}
		}
	}
}

.ideas {
	padding-bottom: 128px;

	&__title {
		font-size: 19px;
		line-height: 26px;
		font-weight: $medium;
		margin: 0;
		padding-bottom: 42px;
		text-align: center;
	}

	&__list {
		display: flex;
		flex-flow: wrap;
		margin: 0 -16px;
		padding-bottom: 20px;
	}

	&__item {
		width: 100%;
		padding: 0 16px 32px;

		&-inner {
			display: block;
			border: 1px solid rgba(50, 107, 222, .3);
			border-radius: 4px;
			padding: 18px 22px 9px;
			transition: border-color $transition-rule;
			color: #4A4A4A;

			&:hover {
				border-color: #393762;
			}
		}

		&-text {
			display: block;
			padding-bottom: 3px;
		}


		&-author {
			display: flex;
			flex-flow: wrap;
			align-items: center;
			padding-top: 15px;
			position: relative;
			&:before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				height: 1px;
				display: block;
				width: 74%;
				background: rgba(50, 107, 222, .5);
			}
		}

		&-avatar {
			width: 33px;

			img {
				width: 33px;
				height: 33px;
				border-radius: 50%;
				display: block;
			}
		}

		&-info {
			width: calc(100% - 33px);
			padding-left: 10px;
			display: flex;
			flex-flow: column;
		}

		&-name {
			font-size: 12px;
			line-height: 12px;
			font-weight: $black;
			display: block;
			padding-bottom: 5px;
		}

		&-time {
			font-size: 10px;
			line-height: 12px;
			font-weight: $regular;
		}

	}

	.btn-row {
		text-align: center;
	}

	@media(min-width: 768px){
		&__item {
			width: 33.33333%;
		}
	}
}

.how-it-work {
	padding-bottom: 67px;

	&__inner {
		display: flex;
		flex-flow: column-reverse;
		text-align: center;

	}

	&__text {
		width: 100%;
		padding-bottom: 30px;

		&-inner {
			max-width: 358px;
			width: 100%;
			margin: 0 auto;
		}
	}
	&__img {
		width: 100%;
	}

	img {
		max-width: 100%;
	}

	@media(min-width: 992px) {

		&__inner {
			flex-flow: wrap;
			text-align: left;
		}

		&__text, &__img {
			width: 50%;
		}

		&__img {
			padding-left: 17px;
			padding-top: 7px;
		}

		&__text {
			display: flex;
			justify-content: center;
			padding-top: 34px;
			padding-bottom: 0;
		}

		.section-title {
			padding-bottom: 14px;
		}
	}

}

.footer {
	&__inner {
		border-top: 1px solid rgba(151, 151, 151, .4);
		display: flex;
		justify-content: center;
		flex-flow: column;
		align-items: center;
		padding: 34px 0 10px;
		text-align: center;
	}

	&-nav {
		&__list {
			display: flex;
			flex-flow: column;
			margin: 0 -25px;
		}

		&__item {
			padding: 0 25px 15px;
		}

		&__lnk {
			font-size: 12px;
			line-height: 14px;
			color: #4A4A4A;
			transition: color $transition-rule;

			&:hover {
				color: #35124E;
			}

		}
	}

	@media(min-width: 768px){

		&__inner {
			justify-content: space-between;
			text-align: left;
			flex-flow: wrap;
		}

		&-nav {
			&__list {
				flex-flow: wrap;
			}
		}
	}
}

.copy {
	padding-bottom: 15px;
	margin: 0;
}