@font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir-Black.eot');
	src: url('../fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Avenir-Black.woff2') format('woff2'),
	url('../fonts/Avenir-Black.woff') format('woff'),
	url('../fonts/Avenir-Black.ttf') format('truetype'),
	url('../fonts/Avenir-Black.svg#Avenir-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir-Book.eot');
	src: url('../fonts/Avenir-Book.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Avenir-Book.woff2') format('woff2'),
	url('../fonts/Avenir-Book.woff') format('woff'),
	url('../fonts/Avenir-Book.ttf') format('truetype'),
	url('../fonts/Avenir-Book.svg#Avenir-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir-Medium.eot');
	src: url('../fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Avenir-Medium.woff2') format('woff2'),
	url('../fonts/Avenir-Medium.woff') format('woff'),
	url('../fonts/Avenir-Medium.ttf') format('truetype'),
	url('../fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}


$Avenir: 'Avenir', sans-serif;

$regular: 400;
$medium: 500;
$black: 900;
